<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>securityFilter</filter-name>
    <filter-class>com.ymt.spi.webserver.tomcat.realm.SecurityFilter</filter-class>
    <!--<filter-class>com.centrin.dcbrain.auth.shiro.SecurityFilter</filter-class>-->
    <init-param>
      <param-name>isEnable</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>securityFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <!--<url-pattern>/tosee/*</url-pattern>-->
    <!--<url-pattern>/scheduler/*</url-pattern>-->
    <!--<url-pattern>/rm/*</url-pattern>-->
    <!--<url-pattern>/fastFile/*</url-pattern>-->
    <!--<url-pattern>/fastdfs/*</url-pattern>-->
    <!--<url-pattern>/partol/*</url-pattern>-->
    <!--<url-pattern>/work/*</url-pattern>-->
    <!--<url-pattern>/om/*</url-pattern>-->
    <!--<url-pattern>/ht/*</url-pattern>-->
    <!--<url-pattern>/csa/*</url-pattern>-->
    <!--<url-pattern>/resources/*</url-pattern>-->
    <!--<url-pattern>/bpm/*</url-pattern>-->
    <!--<url-pattern>/bi/*</url-pattern>-->
    <!--<url-pattern>/sm/*</url-pattern>-->
    <!--<url-pattern>/group/*</url-pattern>-->
    <!--<url-pattern>/ht/*</url-pattern>-->
  </filter-mapping>
  <!--<filter>
    <filter-name>CharactorFilter</filter-name>
    <filter-class>SystemFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharactorFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>-->
  <!-- <filter>
     <filter-name>EncodingFilter</filter-name>
     <filter-class>SystemFilter</filter-class>
     <init-param>
       <param-name>encoding</param-name>
       <param-value>UTF-8</param-value>
     </init-param>
     <init-param>
       <param-name>forceEncoding</param-name>
       <param-value>true</param-value>
     </init-param>
   </filter>
   <filter-mapping>
     <filter-name>EncodingFilter</filter-name>
     <url-pattern>/*</url-pattern>
   </filter-mapping>-->
  <!-- <filter>
     <filter-name>EncodingFilter</filter-name>
     <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
     <init-param>
       <param-name>encoding</param-name>
       <param-value>UTF-8</param-value>
     </init-param>
   </filter>
   <filter-mapping>
     <filter-name>EncodingFilter</filter-name>
     <url-pattern>/*</url-pattern>
   </filter-mapping>-->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>free-resource</web-resource-name>
      <url-pattern>/custom/*</url-pattern>
      <url-pattern>/assets/*</url-pattern>
      <url-pattern>/visual/*</url-pattern>
      <url-pattern>/mobile/*</url-pattern>
      <url-pattern>/rest/*</url-pattern>
      <url-pattern>/pages/*</url-pattern>
      <url-pattern>/error</url-pattern>
      <url-pattern>/login</url-pattern>
      <url-pattern>/favicon.ico</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>protected-resource</web-resource-name>
      <url-pattern>/index</url-pattern>
      <url-pattern>/</url-pattern>
      <!--<url-pattern>/tosee/*</url-pattern>-->
      <!--<url-pattern>/scheduler/*</url-pattern>-->
      <!--<url-pattern>/rm/*</url-pattern>-->
      <!--<url-pattern>/fastFile/*</url-pattern>-->
      <!--<url-pattern>/fastdfs/*</url-pattern>-->
      <!--<url-pattern>/partol/*</url-pattern>-->
      <!--<url-pattern>/work/*</url-pattern>-->
      <!--<url-pattern>/om/*</url-pattern>-->
      <!--<url-pattern>/ht/*</url-pattern>-->
      <!--<url-pattern>/csa/*</url-pattern>-->
      <!--<url-pattern>/resources/*</url-pattern>-->
      <!--<url-pattern>/bpm/*</url-pattern>-->
      <!--<url-pattern>/bi/*</url-pattern>-->
      <!--<url-pattern>/sm/*</url-pattern>-->
      <!--<url-pattern>/group/*</url-pattern>-->
      <!--<url-pattern>/ht/*</url-pattern>-->
      <http-method>HEAD</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>bpm</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>BPMP</realm-name>
    <form-login-config>
      <form-login-page>/login</form-login-page>
      <form-error-page>/login?loginfail=true</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <description>bpm</description>
    <role-name>bpm</role-name>
  </security-role>
  <display-name>Archetype Created Web Application</display-name>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
</web-app>
